header {
    background-color: yellow;
    width: 100%;
    height: 50px;
}
footer {
    clear: both;
    height: 50px;
    background-color: green;
}
.content {
    background-color: pink;
    float: left;
    width: 80%;
    height: 500px;
}

.sidebar {
    background-color: gray;
    height: 500px;
}
